.days {
    font-size: 23em;
    font-family: Helvetica, Arial, sans-serif;
    width: auto;
    text-align: left;
	float:left;
}

.days-label {
	font-size: 8em;
    font-family: Helvetica, Arial, sans-serif;
	float:right;
	margin-top:0.4em;
	text-align:center;
}

.seconds {
    font-size: 1.45em;
    font-family: sans-serif, Helvetica, Arial, sans-serif;
    width: auto;
    text-align:center;
	padding-top:1em;
	clear:right;
}

.text {
	font-family: Helvetica, Arial, sans-serif;
	font-size:4em;
	padding-top:0.4em;
	text-align:center;
	clear:right;
}

.container {
    position: absolute;
}


@media screen and (max-width: 1024px) {
	.days {
		font-size: 19em;
	}
	
	.days-label{
		font-size: 6em;
	}
	
	.seconds {
		padding-top: 1.4em;
	    font-size: 1.1em;
	}
	
	.text {
		padding-top:0.8em;
		font-size:3em;
	}
	
}

@media screen and (max-width: 768px) {
	.days-label{
		float:left;
		text-align:left;
	}

	.text{

	}
}
